@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


*{
    // font-family: 'Inter', sans-serif;
    font-family: 'Noto Serif', serif;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0046b8;
    margin-bottom: 1em;
    color: white;
    h1{
        font-weight: 800;
    }
    p{
        font-weight: 700;
        font-size: medium;
    }
}

.full-container{
    margin: 0;
    display: flex;
    iframe{
        height: 80vh;
        width: 80vw;
    }
    .sidebar{
        padding: 0 1.1em;
        background-color: #FAFAFA;
        .title-container{
            .title-desc{
                font-size: 20px;
            }
            .button-row{
                // margin-top: 2.75em;
                button{
                    border-width: 0px;
                    span{
                        font-weight: 600;
                        font-size: 16px;
                    }
                }
                button.vegan{
                    background: #6CFF8D;
                    border-radius: 31px;
                    padding: 0.8em 1.4em;
                }
                button.vegan:hover{
                    background: #5ade77;
                    box-shadow: 0 3 3 black;
                }
                button.pizza{                    
                    background: #FFDC81;
                    border-radius: 31px;
                    padding: 0.8em 1.4em;
                    margin-left: 2em;
                }
                button.pizza:hover{
                    background: #d4b461;
                } 
            }
        }
    }
    .event{
        background: #FFFFFF;
        border: 1px solid #A4A4A4;
        display: flex;
        img{
            width: 100px;
            height: 100px;
            margin: 1.1em;
            border-radius: 120px;
        }
        .event-desc{
            width: 40%;
            padding: 0 1.1em;
        }
        .foods{
            margin-top: 1.5em;
        }
    }
  }

  a.register{
    width: 10em;
    display: flex;
    justify-content: center;
    background-color: #e3e9ff;
    border: solid 2px #0951d8;
    border-radius: 5px;
    padding: 0.8em 1.4em;
    color: black;
    font-weight: 700;
    font-size: 20px;
    margin: 2em 0;
  }